@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-8">
        <h2>Auto Service of your town</h2>
        <hr />
        <img src="https://kamtechautos.co.uk/wp-content/uploads/2016/05/header2.jpg" style="width: 80%; margin-left: 10%;" />
    </div>
    <div class="col-sm-4">
        <h2>Main information</h2>
        <hr />
        <div class="well">
            <p><b>For clients :</b> There is some services where you can find service for your car and get contact info</p>
            <a class="btn btn-default" style="float: right;">Services</a>
            <br />
        </div>
        <div class="well">
            <p><b>For services : </b>There is some adverts where you can find peoples problems with theirs cars and get contact info to offer them your work</p>
            <a class="btn btn-default" style="float: right;">Orders</a>
            <br />
        </div>
        <div class="well">
            <p><b>Contact : </b>There is some contact info about our application and owners</p>
            <a class="btn btn-default" style="float: right;">Contact</a>
            <br />
        </div>
    </div>
</div>



